body{background-color: rgb(251, 219, 181);}
hr{color: rgb(239, 62, 62);
    background-color: rgb(251, 219, 181); 
    border-width: 5px;width: 15%;
    height: 0%;border-style: none;border-top-style: dotted; }
h3{color: rgb(241, 16, 16);}
.contact{
    background-color: rgb(251, 219, 181);
    table-layout: auto;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
}
table{
    border: 1px;
    border-radius: 1px;
    border-color: rgb(241, 16, 16);
    border-color: blue;
    
}